
# Secret Key (généré automatiquement par PythonAnywhere)
SECRET_KEY=ma_cle_secrete_est_jaoiei238basdfjhAsSsdDhaqe

# Debug mode (False en production)
DEBUG=False

# Allowed hosts (votre domaine PythonAnywhere)
ALLOWED_HOSTS=advancea.pythonanywhere.com,www.advancea.pythonanywhere.com

# Database (PythonAnywhere utilise PostgreSQL)
DATABASE_URL=postgres://username:password@username.postgres.database.azure.com:5432/defaultdb

# School configuration
SCHOOL_NAME=Advancea
