{% extends 'base.html' %}


{% block title %}

  {% if object %}
    Modifier {{ object }}
  {% else %}
    Ajouter un nouveau personnel
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Mettre à jour">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Ajouter le personnel">
  {% endif %}
</form>


{% endblock content %}
