{% extends 'base.html' %}

{% block title %}
<span class="card-title"><strong>{{ object}}</strong> sur le point d'être
  supprimé!</span>
{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <p>Êtes-vous sûr de vouloir supprimer l'objet <strong>{{ object}}</strong>
            ainsi que tous les contenus associés?</p>
          <div class="mt-2 red-text">Cette action ne peut pas être annulée</div>

          <form method="POST" class="mt-3">
            {% csrf_token %}

            <button type="submit" class="btn btn-primary">
              Confirmer la suppression
              <i class="fa fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
